.Rproj.user
.Rhistory
.RData
.Ruserdata
/exercise/data
figuras/map33-1.png
*.html
mun_2018.cpg
mun_2018.dbf
mun_2018.prj
mun_2018.qpj
mun_2018.shp
mun_2018.shx
base de empresas ficticias para curso subiza.csv
base de empresas ficticias para curso subiza.xlsx
