27444ne.tif
Brasil_UF.dbf
Brasil_UF.prj
Brasil_UF.shp
Brasil_UF.shx
apa_ni.dbf
apa_ni.prj
apa_ni.shp
apa_ni.shx
brasil_municipios.dbf
brasil_municipios.prj
brasil_municipios.qpj
brasil_municipios.shp
brasil_municipios.shx
eixo_logra.dbf
eixo_logra.prj
eixo_logra.shp
eixo_logra.shx
estimativa_dou_2018.csv
mde_nova_ig_class.tif
nova_iguacu_linha.dbf
nova_iguacu_linha.prj
nova_iguacu_linha.shp
nova_iguacu_linha.shx
nova_iguacu_pontos.dbf
nova_iguacu_pontos.prj
nova_iguacu_pontos.shp
nova_iguacu_pontos.shx
rodovias.dbf
rodovias.prj
rodovias.qpj
rodovias.shp
rodovias.shx
